<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>About</h3>
</div>
<div class="modal-body">
	<p>
		CitePlag is a prototype of a hybrid Plagiarism Prevention and Detection System developed by the <a href="http://www.isg.uni-konstanz.de" target= "_blank">Information Science Group at the University of Konstanz</a>. CitePlag implements the <a href="http://www.isg.uni-konstanz.de/projects/citeplag/" target= "_blank">Citation-based Plagiarism Detection (CbPD)</a> approach, which was initially introduced in the <a href="http://www.gipp.com/wp-content/papercite-data/pdf/thesisbelagipp.pdf">doctoral thesis</a> of <a href="http://www.isg.uni-konstanz.de/people/bela-gipp/" target="_blank">Bela Gipp</a>. Details on the algorithms implemented in <a href="http://gipp.com/wp-content/papercite-data/pdf/gipp11c.pdf">CitePlag can be found here</a>. The current prototype was developed in cooperation with students from the <a href="http://www.htw-berlin.de/" target= "_blank">HTW, Berlin</a>
	</p>
	<p>
		Compared to existing approaches for plagiarism detection, the CitePlag prototype
		does not consider textual similarity alone, but uses citation patterns within
		academic documents as a unique, language-independent fingerprint to identify
		semantic similarity. This feature for the first time enables automated detection of
		strongly disguised plagiarism forms, including paraphrases, translated plagiarism,
		and even idea plagiarism.
	</p>
	<p>
		The suitability of the CbPD approach in detecting disguised plagiarism was first
		demonstrated on the plagiarized thesis of former German defense minister Karl-
		Theodor zu Guttenberg <a href="http://www.gipp.com/wp-content/papercite-data/pdf/gipp11.pdf">[PDF]</a>. While conventional detection approaches could not
		identify a single instance of translated plagiarism in the thesis, the CbPD approach
		detected 13 of the 16 translated plagiarisms. The effectiveness of the method was
		further demonstrated when applied to the works of multiple authors and various
		plagiarism styles in the VroniPlag collection. Evaluations of real-world plagiarism
		showed that plagiarists commonly disguise academic misconduct by paraphrasing
		copied text, but often do not substitute or rearrange the citations copied from the
		source document.
	</p>
	<p>
		Most recently, the practicability of the CbPD approach was demonstrated by
		analyzing 185,000 publications in the comprehensive bioscience full-text database
		PubMed Central. The CbPD algorithms allowed the identification of several
		plagiarism cases that were non-machine-detectable using today’s prevalent
		methods. <a href="http://www.gipp.com/wp-content/papercite-data/pdf/gipp13b.pdf">[PDF]</a>. As a result, several publications were retracted, including a <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2772258/" target= "_blank">fraudulent
		medical study</a>.
	</p>
	<p>
		While the CbPD approach offers unique benefits, it should be seen as a supplement
		not a replacement to existing software-based plagiarism detection methods, since
		text-based and citation-based plagiarism detection approaches complement each
		other.</br>
		The CitePlag prototype represents a visualization of concepts and algorithms
		developed by the Information Science Group around the idea of Citation-based Plagiarism Detection
		(CbPD).
	</p>

	<p>
		For questions or comments feel free to <a href="mailto:agis@uni.kn">contact us.</a>
	</p>

</div>
<div class="modal-footer">
	<a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
</div>
